<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<!DOCTYPE html>
<html class=''>
<title>Kurir - Deliver your message in a second!</title>
<head>
<meta id="viewport" name="viewport" content ="width=device-width" />
<meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/index.css">
<link rel="stylesheet" href="/assets/css/select2.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>
<body>

<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="https://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
				<p>{{ user.name }}</p>
                <a href="javascript: void(0)" @click="logout"><i class="fas fa-power-off expand-button text-light" aria-hidden="true"></i></a>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fas fa-search" aria-hidden="true"></i></label>
			<input type="text" v-model="filterSearch" placeholder="Search persons..." />
		</div>
		<div class="d-block">
			<button type="button" class="btn btn-danger btn-sm btn-block" name="button" data-toggle="modal" data-target="#newGroupModal">New Group Chat</button>
			<div class="modal fade" id="newGroupModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title text-dark" id="exampleModalLabel">Create Group Chat</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<input type="text" class="form-control mb-3" v-model="newGroupChat.name" placeholder="Group Name">
							<select class="js-example-basic-multiple" style="width: 100%; line-height: 1.2rem;" v-model="newGroupChat.users" name="states[]" multiple="multiple">
								<option v-for="user in availableUsers" :value="user.id">{{ user.name }}</option>
							</select>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-success" data-dismiss="modal" @click="createGroupChat">Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="contacts">
			<div v-if="loading">
				<div style="margin-top: 30px;" class="text-center">
					<i class="fas fa-spinner fa-spin"></i>
					<br><br>
					<small>Loading</small>
				</div>
			</div>
			<div v-else>
				<ul v-if="state === 'chat'">
					<div v-for="(chat, index) in filteredList">
						<li class="contact" v-bind:class="{ active: selected_room == index }">
							<div class="wrap">
								<span class="contact-status online"></span>
								<img src="https://emilcarlsson.se/assets/harveyspecter.png" alt="" />
								<div class="meta" @click="activeChat(index, chat)">
									<p class="name" v-if="chat.type == 'private'">{{ chat.name }}</p>
									<p class="name" v-else>{{ chat.room_name }}</p>
									<p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
								</div>
							</div>
						</li>
					</div>
				</ul>
				<ul v-else>
					<div v-for="(user, index) in filteredOnlineUsers">
						<li class="contact" v-bind:class="{ active: selected_room == index }">
							<div class="wrap">
								<span class="contact-status online"></span>
								<img src="https://emilcarlsson.se/assets/harveyspecter.png" alt="" />
								<div class="meta" @click="newPrivateChat(index,user)">
									<p class="name">{{ user.name }}</p>
									<p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
								</div>
							</div>
						</li>
					</div>
				</ul>
			</div>
		</div>
		<div id="bottom-bar">
			<button id="btn-group" @click="changeState('chat')" class="btn-tab active">
				<i class="fas fa-refresh fa-fw" aria-hidden="true"></i>
				<span>Recent Chat ({{ total_chat }})</span>
			</button>
			<button id="btn-user-online" @click="changeState('online')" class="btn-tab">
				<i class="fas fa-smile fa-fw" aria-hidden="true"></i>
				<span>Online ({{ getOnlineUsers }})</span>
			</button>
		</div>
	</div>
	<div class="content">
		<div v-if="!activeRoom">
			<div class="container h-100">
				<div class="row h-100 justify-content-md-center align-items-center">
					<div class="col-auto text-center">
						<h1 style="font-size: 2rem;" class="font-weight-bold animated pulse infinite">Kurir</h1>
						<h2 style="font-size: 1.2rem;">Deliver your message in a second</h2>
					</div>
				</div>
			</div>
		</div>
		<div v-else>
			<div class="contact-profile">
				<img src="https://emilcarlsson.se/assets/harveyspecter.png" alt="" />
				<p v-if="activeRoom.type == 'private'">{{ activeRoom.name }}</p>
				<p v-else>{{ activeRoom.room_name }}</p>
				<div class="social-media">
					<button type="button" v-if="activeRoom.type != 'private'" @click="getAvailableUsers(activeRoom.room_id)" class="btn btn-success btn-sm mr-3" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus mr-2" style="font-size: 10px;"></i>Invite someone</button>
					<div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Invite Friend</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<select class="js-example-basic-multiple" style="width: 100%; line-height: 1.2rem;" v-model="invitedUsers" name="states[]" multiple="multiple">
										<option v-for="user in availableUsers" :value="user.id">{{ user.name }}</option>
									</select>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-success" data-dismiss="modal" @click="inviteToGroup">Save changes</button>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-danger btn-sm mr-3" data-toggle="modal" data-target="#exitModal"><i class="fa fa-sign-out mr-2" style="font-size: 10px;"></i>Leave chat</button>
					<div class="modal fade" id="exitModal" role="dialog" aria-labelledby="exitModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Leave chat</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to leave?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" @click="leaveRoom" data-dismiss="modal">Yes, leave</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Go back</button>
                                </div>
                            </div>
                        </div>
					</div>
	                <a href="whatsapp://send?text=Yuk kita chatting di sini guys!"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
	                <a href="line://msg/text/?Yuk kita chatting di sini guys!"><i class="fab fa-line" aria-hidden="true"></i></a>
	                <a href="https://www.facebook.com/sharer/sharer.php?u=kongko.id"><i class="fab fa-facebook" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="messages">
				<ul>
					<div v-for="chat in activeChatMessage">
						<li v-if="chat.user_id == user.id" class="replies">
							<img src="https://emilcarlsson.se/assets/mikeross.png" alt="" />
							<p>
								<span class="font-weight-bold d-block text-right">{{ user.name }}</span>
								{{ chat.message }}
							</p>
						</li>
						<li v-else class="sent">
							<img src="https://emilcarlsson.se/assets/harveyspecter.png" alt="" />
							<p>
								<span class="font-weight-bold d-block text-left">{{ chat.name }}</span>
								{{ chat.message }}
							</p>
						</li>
					</div>
				</ul>
			</div>
			<div class="message-input">
				<div class="wrap">
				<input type="text" v-model="message" @keydown.enter="sendMessage(activeRoom.room_id)" placeholder="Write your message..." />
				<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
				<button class="submit" @click="sendMessage(activeRoom.room_id)"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" charset="utf-8"></script>
<script src="/assets/js/select2.min.js"></script>
<script type="text/javascript">
	var halo = new Vue({
		el: '#frame',
		data: {
			chats: [],
			total_chat: 0,
			loading: true,
			total_user: 0,
			online_users: [],
			selected_room: null,
			state: 'chat',
			activeRoom: null,
			activeChatMessage: [],
			user: {
				name: 'Kurir'
			},
			socket : io('localhost:3000'),
			message: '',
			invitedUsers: [],
			availableUsers: [],
			filterSearch: '',
			newGroupChat: {
				name: '',
				users: []
			},
		},
		mounted() {
			this.socket.on('connect', () => {
               this.socket.emit('online_users');
            });
			this.socket.on('online_users', (data) => {
                console.log(data);
                this.total_user = data.total;
                this.online_users= []
                data.users.forEach((item) => {
                    if(item.name !== this.user.name) {
                        this.online_users.push(item)
                    }
                })
	        });
			this.socket.on('GET_MESSAGE', (data) => {
				var temp = data;
				this.online_users.forEach((user) => {
					if(user.id == temp.user_id) {
						temp.name = user.name;
					}
				});
	            this.activeChatMessage.push(temp);
	        });
			this.socket.on('INVITED', (data) => {
				if(data.change == true) {
					console.log(data);
					axios.get('/getRecentRoomChats')
					.then((response) => {
						this.chats = response.data.chats;
						this.total_chat = response.data.total;
						this.chats.forEach((chat) => {
							if(chat.type == 'private') {
								var temp = chat.room_name.replace(this.user.name, '');
								chat.name = temp;
							}
						});
					});
				}
	        });
			this.socket.on('LEFT_ROOM', (data) => {
                this.activeRoom = null;
                if(data.change == true) {
					console.log(data);
					axios.get('/getRecentRoomChats')
					.then((response) => {
						this.chats = response.data.chats;
						this.total_chat = response.data.total;
						this.chats.forEach((chat) => {
							if(chat.type == 'private') {
								var temp = chat.room_name.replace(this.user.name, '');
								chat.name = temp;
							}
						});
					});
				}
	        });
	    },
		computed: {
			getOnlineUsers() {
				return this.total_user - 1;
			},
			filteredList() {
		      	if(this.chats) {
					return this.chats.filter(chat => {
						if(chat.type == 'private') {
							return chat.name.toLowerCase().includes(this.filterSearch.toLowerCase())
						} else {
							return chat.room_name.toLowerCase().includes(this.filterSearch.toLowerCase())
						}
			      	})
				}
		    },
			filteredOnlineUsers() {
				if(this.online_users) {
					return this.online_users.filter(chat => {
						return chat.name.toLowerCase().includes(this.filterSearch.toLowerCase())
			      	})
				}
			}
		},
		created() {
			this.initChats();
		},
		methods: {
			initChats() {
				let vm = this;
				axios.get('/getLoggedInUser')
				.then(function (response) {
					vm.user = response.data;
				});
				axios.get('/getOnlineUsers')
				.then(function (response) {
					vm.online_users = response.data.users;
				});
				axios.get('/getRecentRoomChats')
				.then(function (response) {
					vm.chats = response.data.chats;
					vm.total_chat = response.data.total;
					vm.chats.forEach(function (chat) {
						if(chat.type == 'private') {
							var temp = chat.room_name.replace(vm.user.name, '');
							chat.name = temp;
						}
					});
					vm.sleep(2000);
					vm.loading = false;
				});
			},
			changeState(type) {
				this.selected_room = null;
				this.activeRoom = null;
				this.state = type;
			},
			activeChat(item, user) {
				let vm = this;
				vm.selected_room = item;
				vm.activeRoom = user;
			},
			newPrivateChat(item, target_user) {
				let vm = this;
				vm.selected_room = item;
				axios.post('/newPrivateChat', { user: target_user })
				.then(function (response) {
					vm.activeRoom = response.data[0];
					vm.activeRoom.type = 'private';
					vm.activeRoom.name = target_user.name;
				});
			},
			getActiveRoom(user) {
				let vm = this;

			},
			sendMessage(room_id) {
				this.socket.emit('SEND_MESSAGE', {
	                user: this.user,
	                message: this.message,
					room_id: room_id
	            });
				this.message = '';
			},
			getAvailableUsers(room_id) {
				axios.get('/getAvailableUsers?room_id=' + room_id)
				.then((response) => {
					this.availableUsers = response.data.users;
				});
            },
			inviteToGroup() {
                this.socket.emit('INVITE_USER', {
	                user_id: this.invitedUsers,
					room_id: this.activeRoom.room_id
	            });
			},
			createGroupChat() {
				this.newGroupChat.users.push(this.user.id);
				console.log(this.newGroupChat);
				axios.post('/newGroupChat', this.newGroupChat)
				.then((response) => {
					this.socket.emit('INVITE_USER', {
		                user_id: this.newGroupChat.users,
						room_id: response.data.room_id
		            });
				});
			},
            leaveRoom() {
                this.socket.emit('LEAVE_ROOM', {
	                user_id: this.user.id,
					room_id: this.activeRoom.room_id
	            });
            },
			logout() {
				axios.get('/logout')
				.then((response) => {
					if(response.data.success == true) {
                        this.socket.emit('online_users');
						window.location.href = "/";
					}
				});
			},
			sleep(milliseconds) {
				var start = new Date().getTime();
				for (var i = 0; i < 1e7; i++) {
					if ((new Date().getTime() - start) > milliseconds){
					  	break;
					}
				}
			}
		},
		watch: {
			activeRoom: function () {
				let vm = this;
				if(vm.activeRoom) {
					axios.get('/getChatMessage?room_id=' + vm.activeRoom.room_id)
					.then(function (response) {
						vm.activeChatMessage = response.data;
					});
				}
			}
		}
	});
</script>
<script>

$('.btn-tab').on('click', function () {
    $('.btn-tab').removeClass('active');
    $(this).addClass('active');
});

$('.contact').on('click', function () {
    $('.contact').removeClass('active');
    $(this).addClass('active');
});

$(".messages").animate({ scrollTop: $(document).height() }, "fast");

$(document).ready(function () {
	setTimeout(() => {
		$('.js-example-basic-multiple').select2({
			allowClear: true,
			placeholder: 'You can select multiple names'
		});
		$('.select2-selection__rendered').css('line-height', '1.2rem');
		$('.select2-search__field').css('width', '100%');
		$('.select2-search').css('width', '100%');
	}, 3000);
});

</script>
</body></html>
